In [42]:
#import needed modules
import pandas as pd
import numpy as np
import sklearn

In [23]:
col_names= [ 'patient', 'Age','Partner_Score','Self_Score','P_S','victim','PH_Score','PY_Score','E_Score','S_Score']

In [24]:
#importing first model-survey results
m1 = pd.read_csv("model - m1.csv", header= 0, names= col_names)

#iporting 2nd model-survey results
m2 = pd.read_csv("model - m2.csv", header= 0, names= col_names)

In [25]:
vict=pd.concat([m1,m2])

In [26]:
#verify merge
vict.head()

,patient,Age,Partner_Score,Self_Score,P_S,victim,PH_Score,PY_Score,E_Score,S_Score
0,1,35,2,2,4,Yes,5,2,2,0
1,2,38,0,5,5,Yes,1,6,4,5
2,3,20,1,1,2,Yes,6,0,0,4
3,4,16,2,5,7,Yes,2,5,4,4
4,5,34,5,2,7,Yes,3,4,6,6

In [32]:
#drop last 4 columns in new df
#create new df to only identify victim = yes / no/unknown
vict1= vict.drop(columns=['patient','PH_Score','PY_Score','E_Score','S_Score'], axis=0)

In [33]:
#verify colunms succefully dropped
vict1.head()

   Age  Partner_Score  Self_Score  P_S victim
0   35              2           2    4    Yes
1   38              0           5    5    Yes
2   20              1           1    2    Yes
3   16              2           5    7    Yes
4   34              5           2    7    Yes

In [74]:
for Unknown in vict1.victim:
    print(Unknown)

AttributeError: 'DataFrame' object has no attribute 'victim'

In [35]:
#convert victim dtype to category from object in order to encode
vict1["victim"] = vict1["victim"].astype('category')

In [37]:
#recode victim column
#label encoder column victim
vict1["victim_cat"] = vict1["victim"].cat.codes

In [40]:
#verify successful encoding
vict1.head()
#drop column victim to have all int64 dtype
vict1= vict1.drop(columns=['victim'])

In [41]:
#verify victim column was successfully dropped
#verify dtype int64 for all
vict1.head()

   Age  Partner_Score  Self_Score  P_S  victim_cat
0   35              2           2    4           2
1   38              0           5    5           2
2   20              1           1    2           2
3   16              2           5    7           2
4   34              5           2    7           2

In [46]:
label_names=['Yes','No','Unknown']

In [47]:
feature_names=['Age','Partner_Score','Self_Score','P_S']

In [64]:
vict1(['Age','Partner_Score','Self_Score','P_S'])

TypeError: 'DataFrame' object is not callable

In [60]:
# Organize data
label_names = label_names
labels = vict1['victim_cat']
feature_names = feature_names
features = vict1['P_S']

In [61]:
# Look at our data
print(label_names)
print(labels[0])
print(feature_names[0])
print(features[0])

['Yes', 'No', 'Unknown']
0    2
0    2
Name: victim_cat, dtype: int8
Age
0    4
0    7
Name: P_S, dtype: int64

In [57]:
vict1['victim_cat'].head()

0    2
1    2
2    2
3    2
4    2
Name: victim_cat, dtype: int8

In [58]:
vict1['victim_cat'].tail()

95    2
96    1
97    2
98    2
99    1
Name: victim_cat, dtype: int8